$color-soft-red: hsl(14, 88%, 65%);
$color-violoet: hsl(273, 75%, 66%);
$color-bg: linear-gradient(
  0deg,
  hsl(240, 73%, 65%) 0%,
  hsl(273, 75%, 66%) 100%
);
$color-divider: hsl(240, 5%, 91%);
$color-text-dark: hsl(238, 29%, 16%);
$color-text: hsl(237, 12%, 33%);
$color-text-light: hsl(240, 6%, 50%);
